/* Header bar. */
#header-bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    border: 1px solid red;
    justify-content: space-around;
}

#navbar__profile-button {
    /* border: none; */
    /* background: none; */
    padding: 5px;
    /* font-size: 25px; */
    /* margin-left: 200px; */
}

.profile-dropdown {
    position: fixed;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    padding: 10px 10px 10px 10px;
    font-family: 'Open Sans', sans-serif;
}

.profile-dropdown__item {
    padding: 10px 10px 10px 10px;
}