body {
    background: url("./components/images/background_niffler.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: 'Harry Potter';
    src: url(http://fonts.cdnfonts.com/css/harry-potter?styles=41888);
}

/* Container div for elements underneath header bar. */
.main-body {
    /* margin-top: 50px; */
    /* border: 1px solid whitesmoke; */
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 1024px;
    margin: auto;
    padding-top: 38px;
    /* max-width: 1366px; */
    position: relative;
    cursor: url("/images/WandCursor.png"), auto;}
    /* text-align: center; */
  /* cursor: src="images/BoltCursor.svg", auto;   
}

h1 {
    font-family: 'Harry Potter', sans-serif;
}

/* Div for center column in main body. */
.main-bar {
    max-width: 608px;
    min-width: 608px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(205, 205, 205);
    border: 1px solid whitesmoke;
}

#login-form {
    margin-top: 30px;
}

/* Styling for active NavLinks. */
.active {
    /* color: white; */
}

a:visited { 
 text-decoration: none; 
 /* color: grey;  */
}

a{
cursor: url("/images/WandCursorClick.png"), auto;
}