body {
    /* background-color: whitesmoke; */
}

/* Container div for elements underneath header bar. */
.main-body {
    margin-top: 50px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Harry Potter', sans-serif;
}

/* Div for center column in main body. */
.main-bar {
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#login-form {
    margin-top: 30px;
}

/* Styling for active NavLinks. */
.active {
    color: green;
}
