@keyframes fadein {
  from {
    opacity: 0%;
    scale: 0;
  }
  to {
    opacity: 100%;
    scale: 1;
  }
}

.signup_form {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 20%;
  /* margin-top: 10%; */
  justify-content: center;
   animation-duration: 2s;
   justify-content: center;
  align-items: center;
  animation-name: fadein;
}

.signup-form-div__row {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}


.signup_form > * > div {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.signup_form > * > * > input:focus {
  outline: none;
}
.signup_form * > * > input {
  min-width: 50%;
  max-height: 10px;
  background: #FFFFFF;
  border: 1px solid #514A92;
  border-radius: 20.5px;
  padding: 10px;
  /* justify-self: center; */
     justify-self: left;
  margin: auto;
  width: 20px;
  letter-spacing: 1.4px;
  margin-bottom: 10px;

}

.signup_form * > * > label{
  font-family: "Harry Potter";
  color: white;
  font-size: 20px;
  padding: 5px;
  /* min-width: 50%; */
  /* justify-self: flex-end; */
    width: 380px;
  /* min-width: 50%; */
  text-align: right;
  padding-right: 20px;
  letter-spacing: 1.6px;
}
.signup-button-submit {
  background: #d0b16c;
  border-radius: 6px;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1.6px;
  text-align: center;
  padding: 8px 14px;
  border: none;
  width: 50%;
  /* cursor: pointer; */
  transition-property: background ;
  transition-duration: .2s;
  justify-content: center;
  width: 150px;
  cursor: url("/images/WandCursorClick.png"), auto;
  
}
.signup-button-submit:hover {
  background: #383366;
  cursor: url("/images/WandCursorClick.png"), auto;
}


.sign-up-logo > * {
   object-fit: cover;
  width: 160px;
  /* margin-left: 20%; */
  margin-bottom: 0px;
}

.buttonDiv {
  margin: auto;
}

.error{
  color: red;
  font-family: 'Lato';
  font-weight: 900;
}

.login-link {
  color: grey;
  margin: auto;
  text-decoration: none;
  text-align: center;
}

.login-link:hover {
  color: white;
}