.dashboard__header {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    padding: 10px;
}

.dashboard__header-right {

}

.dashboard__balances-bar {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding: 10px;
}

.dashboard__balance {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dashboard__users-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid purple;
    padding: 10px;
}

.dashboard__users-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid orange;
}

.dashboard__users {
    display: flex;
    flex-direction: column;
    border: 1px solid magenta;
}

.dashboard__user-info {
    display: flex;
}