.dashboard__header {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dashboard__header-right {
}

.dashboard__top-banner {
  align-items: center;
  background-image: url('../images/Dashboard/banner-bg.jpg');
  /* justify-content: ; */
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 314px;
  justify-content: center;
  padding: 0px;
  text-align: center;
  width: 608px;
}
.dashboard__name-title {
  /* justify-content: space-between; */
  border: 1px solid red;

  color: white;
  font-family: 'Harry Potter';
  font-size: 1.6em;
  padding: 10px;
  vertical-align: middle;
  width: 100%;
}
.dashboard__balances-bar {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dashboard__balance {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dashboard__users-header {
  border: 1px solid purple;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dashboard__users-container {
  border: 1px solid orange;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dashboard__users {
  border: 1px solid magenta;
  display: flex;
  flex-direction: column;
}

.dashboard__user-info {
  display: flex;
}
