.dashboard__header {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dashboard__top-banner {
  align-items: center;
  background-image: url('../images/Dashboard/banner-bg.jpg');
  /* justify-content: ; */
  display: flex;
  flex-wrap: wrap;
  height: 314px;
  justify-content: center;
  align-content: center;
  padding: 0px;
  text-align: center;
  width: 608px;
}

.dashboard__name-title {
  color: white;
  font-family: 'Harry Potter';
  font-size: 2.5em;
  letter-spacing: 2px;
  padding: 20px 10px 00px 10px;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 0px;
  /* border: 10px solid white; */
}

.dashbard__top-banner__button-container {
  display: flex;
  justify-content: space-evenly;
  width: 608px;
  padding-top: 20px;
}

.dashboard__top-banner__add-button {
  background: #6b63b5;
  border-radius: 6px;
  font-family: 'Lato-Black';
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1.6px;
  text-align: center;
  padding: 8px 14px;
  border: none;
  width: 30%;
  padding: 10px;
  cursor: url("/images/WandCursorClick.png"), auto;
  transition-property: background ;
  transition-duration: .2s;
}
.dashboard__top-banner__add-button:hover {
  background: #383366;
}
.dashboard__top-settle-button {
  background: #d0b16c;
  border-radius: 6px;
  font-family: Lato-Black;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 1.6px;
  text-align: center;
  padding: 8px 14px;
  border: none;
  width: 30%;
  cursor: pointer;
  transition-property: background ;
  transition-duration: .2s;
}

.dashboard__top-settle-button:hover {
  background: #997a38;
  cursor: url("/images/WandCursorClick.png"), auto; 
}

.dashboard__balances-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 0px;
  width: 100%;
  color: white;
  /* border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke; */
}

.dashboard__balance {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.dashboard__balance__title-text {
  font-family: 'HarryPotter';
  font-size: 1.3em;
  color: #d0b16c;
  text-align: center;
  letter-spacing: 1.2px;
}

.dashboard__users-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dashboard__users-header div {
  padding: 10px;
  font-size: 25px;
}

.dashboard__users-container {
  display: flex;
  justify-content: space-between;
  /* background: none; */
  padding: 10px;
  /* border: 1px solid blue; */
}

.dashboard__users {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  /* padding: 10px; */
  width: 40%;
}

.dashboard__user-info {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 10px;
}
