
.center-block-main {
  background-color: rgb(146, 146, 213);
  display:flex;
  flex-direction: column;
  align-items: center;
  /* width: 75% */
}

.current-group-transactions {
  background-color: rgb(204, 234, 175);
  width: 100%
}

.transaction-div:hover > .detailed-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: 1px solid black;
}

.detailed-info {

  display: none;
}

.transaction-div {
  min-height: 50px;
  height: auto;
}
