.center-block-main {
  /* background-color: rgb(205, 205, 205); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 608px;
}

.group-header {
  background-image: url('../images/HeaderBackground.png');
  width: 100%;
  height: 250px;
}

.group-buttons {
  display: flex;
  justify-content: space-evenly;
}

.current-group-transactions {
  background-color: rgb(205, 205, 205);
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.transaction-div {
  min-height: 50px;
  height: auto;
  border-bottom: 1px solid black;
}

.summary {
}

.info-block {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.group-name {
  margin-left: 25%;
  margin-right: 25%;
  color: whitesmoke;
  font-size: 55px;
}

.transaction-div:hover > .summary > {
  margin-left: 5%;
  transition: all 0.4s ease 0s;
}

/* Hide additional transaction info initially. */
.detailed-info {

}

/* Display additional info when transaction hovered over. */
.transaction-div:hover > .summary > .info-block {
  border-bottom: 1px solid rgb(174, 172, 172);
  padding: 20px;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
}

.detailed-info-container {
  display: none;
}

.transaction-div:hover > .detailed-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;

  transition: all 0.4s ease 0s;
}

.detailed-info {
  padding: 10px;
  border-top: 1px solid rgb(222, 133, 133);
}

/* .transaction-div:hover > .detailed-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20%;
  margin-left: 15%;
  margin-top: 5%;
  border-top: 1px solid rgb(214, 196, 196);
  transition: all 0.4s ease 0s;
  border: 10px solid black;
} */

.newtransaction-button {
  background: #6B63B5;
  border-radius: 6px;
  font-family: "Lato";
  font-weight: 900;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 1.6px;
  text-align: center;
  margin-left: 25%;
  margin-top: 10px;

}
